@charset "utf-8";

:root {
  --modal-background: rgba(0, 0, 0, 0.541);
  --font-color: #ffffff;
  --pink: rgb(232, 51, 82);
  --teal: rgb(62, 238, 241);
  --border-radius: 13px;
  --small-border-radius: 5px;
  --highlight-vertical-spacing: 1.5px;
  --highlight-horizontal-spacing: -15px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

body {
  font-family: "Rationale", sans-serif;
  height: 100vh;
  color: var(--font-color);
}


/* ==============================Body============================== */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.background-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.481);
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}


.modal-container {
  width: 100%;
  max-width: 27rem;
  height: 35rem;
  border-radius: var(--border-radius);
  background-color: var(--modal-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 2rem;
  /* box-shadow: 0 0 49px 0 rgba(255,255,255,0.30); */
  backdrop-filter: blur(24px);
  position: relative;
}

.top-buttons {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  & > * {
    margin: 0 2rem;
    cursor: pointer;
  }
}

.timer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  .fa-clock {
    font-size: 1.3rem;
  }
  .countdown {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .seconds {
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

.word {
  font-size: 4.2rem;
  line-height: 3.5rem;
}

.hits {
  font-size: 1.3rem;
}

input {
  width: 9.9rem;
  height: 2.6rem;
  text-align: center;
  font-family: "Rationale", sans-serif;
  font-size: 1.4rem;
  border: none;
  border-radius: var(--border-radius);
}

input:focus {
  outline: none;
}

input:disabled {
  background-color: #FFF;
}

.correct-letter {
  color: var(--teal);
  /* font-style: italic; */
  text-shadow:
    0 0 11px rgba(0, 255, 255, 0.7),
    0 0 22px rgba(0, 255, 255, 0.6),
    0 0 33px rgba(0, 255, 255, 0.5),
    0 0 44px rgba(0, 255, 255, 0.4),
    0 0 55px rgba(0, 255, 255, 0.3),
    0 0 66px rgba(0, 255, 255, 0.2);
}
.start-button {
  background: var(--pink);
  border-radius: var(--small-border-radius);
  padding: 0.4rem 1.2rem;
  color: var(--font-color);
  transition: all 0.3s;
  cursor: pointer;
  border: none;
  font-family: "Rationale", sans-serif;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  z-index: 10;
  transform: translateZ(0);
}

.start-button:hover {
  box-shadow: 
    0 0 10px rgba(232, 51, 82, 0.3),
    0 0 30px rgba(232, 51, 82, 0.3),
    0 0 40px rgba(232, 51, 82, 0.3),
    0 0 50px rgba(232, 51, 82, 0.3),
    0 0 60px rgba(232, 51, 82, 0.3),
    0 0 70px rgba(232, 51, 82, 0.3);
}


#audio-visualizer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
}
/* Leaderboard */
.leaderboard {
  font-family: "roboto", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.179));
  overflow: auto;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: center;
  padding: 0 2rem;
}

.leaderboard.leaderboard-visible {
  opacity: 1;
}

.leaderboard-title {
  height: 1.5rem;
  margin: 1.5rem 0;
  .fa-solid {
    font-size: 1.3rem;
  }
  span {
    font-family: "Rationale", sans-serif;
    font-size: 1.5rem;
    line-height: 0.4;
    position: relative;
    top: .15rem;
  }
}

.leaderboard-content {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard-content th,
.leaderboard-content td {
  padding: .6rem 0;
  text-align: center;
  font-size: 1.2rem;
}
/* first score row background */
tbody tr:first-child td {
  position: relative;
}

tbody tr:first-child td::before {
  content: "";
  position: absolute;
  top: var(--highlight-vertical-spacing);
  left: 0;
  right: 0;
  bottom: var(--highlight-vertical-spacing);
  background-color: rgb(232, 51, 82, 0.45);
  z-index: -1;
}

tbody tr:first-child td:first-child::before {
  border-radius: 10px 0 0 10px;
}

tbody tr:first-child td:last-child::before {
  border-radius: 0 10px 10px 0;
}

/* 2nd 3rd score row backgrounds */
tbody tr:nth-child(2) td,
tbody tr:nth-child(3) td {
  position: relative;
}

tbody tr:nth-child(2) td::before,
tbody tr:nth-child(3) td::before {
  content: "";
  position: absolute;
  top: var(--highlight-vertical-spacing);
  left: 0;
  right: 0;
  bottom: var(--highlight-vertical-spacing);
  background-color: rgba(62, 238, 241, 0.27); 
  z-index: -1;
}

tbody tr:nth-child(2) td:first-child::before,
tbody tr:nth-child(3) td:first-child::before {
  border-radius: 10px 0 0 10px;
}

tbody tr:nth-child(2) td:last-child::before,
tbody tr:nth-child(3) td:last-child::before {
  border-radius: 0 10px 10px 0;
}

.table-head {
  tr th {
    font-weight: 200;
  }
  display: none;
}

.no-scores-message {
  text-align: center;
  margin-top: 1rem;
}
