@charset "utf-8";

:root {
  --modal-background: rgba(0, 0, 0, 0.541);
  --font-color: #ffffff;
  --pink: #e83352;
  --teal: #3EEEF1;
  --border-radius: 13px;
  --small-border-radius: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

body {
  font-family: "Rationale", sans-serif;
  height: 100vh;
  color: var(--font-color);
}


/* ==============================Body============================== */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.background-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.481);
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}


.modal-container {
  width: 100%;
  max-width: 27rem;
  height: 35rem;
  border-radius: var(--border-radius);
  background-color: var(--modal-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 2rem;
  /* box-shadow: 0 0 49px 0 rgba(255,255,255,0.30); */
  backdrop-filter: blur(24px);
  position: relative;
}

.top-buttons {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  & > * {
    margin: 0 2rem;
    cursor: pointer;
  }
}

.timer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  .fa-clock {
    font-size: 1.3rem;
  }
  .countdown {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .seconds {
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

.word {
  font-size: 4.2rem;
  line-height: 3.5rem;
}

.hits {
  font-size: 1.3rem;
}

input {
  width: 9.9rem;
  height: 2.6rem;
  text-align: center;
  font-family: "Rationale", sans-serif;
  font-size: 1.4rem;
  border: none;
  border-radius: var(--border-radius);
}

input:focus {
  outline: none;
}

input:disabled {
  background-color: #FFF;
}

.correct-letter {
  color: var(--teal);
  /* font-style: italic; */
  text-shadow:
    0 0 11px rgba(0, 255, 255, 0.7),
    0 0 22px rgba(0, 255, 255, 0.6),
    0 0 33px rgba(0, 255, 255, 0.5),
    0 0 44px rgba(0, 255, 255, 0.4),
    0 0 55px rgba(0, 255, 255, 0.3),
    0 0 66px rgba(0, 255, 255, 0.2);
}
.start-button {
  background: var(--pink);
  border-radius: var(--small-border-radius);
  padding: 0.4rem 1.2rem;
  color: var(--font-color);
  transition: all 0.3s;
  cursor: pointer;
  border: none;
  font-family: "Rationale", sans-serif;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  z-index: 10;
  transform: translateZ(0);
}

.start-button:hover {
  box-shadow: 
    0 0 10px rgba(232, 51, 82, 0.3),
    0 0 30px rgba(232, 51, 82, 0.3),
    0 0 40px rgba(232, 51, 82, 0.3),
    0 0 50px rgba(232, 51, 82, 0.3),
    0 0 60px rgba(232, 51, 82, 0.3),
    0 0 70px rgba(232, 51, 82, 0.3);
}


#audio-visualizer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
}
/* Leaderboard */
.leaderboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.179));
  overflow: auto;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: center;
}

.leaderboard.leaderboard-visible {
  opacity: 1;
}

.leaderboard-title {
  height: 1.5rem;
  margin-top: .8rem;
  .fa-solid {
    font-size: 1.3rem;
  }
  span {
    font-size: 1.5rem;
    line-height: 0.4;
    position: relative;
    top: .15rem;
  }
}

.leaderboard-content {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  padding: 0;
  width: 80%;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
}

.leaderboard-item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: .5px;
  background: #ffffff;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.no-scores-message {
  text-align: center;
  margin-top: 1rem;
}

/* ==============================Font============================== */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
